@media ( min-width : 768px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	.dropdown-menu {
		margin-top: 0 !important;
	}
}

body {
	padding-top: 64px; /*3.5rem;*/
	margin-bottom: 60px;
}

.card-columns {
	column-count: 2;
}